*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', arial, sans-serif;
    line-height: 1.6;
    background-color: #333
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.navbar{
    background-color: #fffdfd;
    padding: 10px 20px;
    box shadow: 0 2px 5px rgba(0,0,0,0.1);
    position:fixed
    top:0;
    width: 100%;
    z-index: 100;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #188497;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
.nav-menu a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.nav-menu a:hover{
    color: #188497;
}
.cart-link{
    background-color: #188497;
    text-decoration: none;
    color: #fff9f9; !important;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;

}
.cart-link:hover{
    background-color: #0f6b7a;
}
